/*body colors and default colors and text*/
body {
  margin: 0;      
  background-color: rgb(248, 188, 198);
  color: white;
  font-family: 'EB Garamond', serif;
   /*font-family: 'Licorice', cursive;
  font-family: 'The Nautigal', cursive;*/
  font-size: 25px;
        
}

/*header is for the title*/
header {
  background-color: black;
  /* text-align: center; */
  font-family: 'The Nautigal', cursive;
  font-size: 100px;
  color: white;
  width: 100%;
  margin: 0px;
}

header h4 {
  margin: 0px;
  padding-top: 100px;
  text-align: center;
}

header img {
  height: 63px;
  width: 435px;
  /* display: inline-block; */
  /* float: left; */
}

#checkout-bar img{
  height: 5rem;
  width: 5rem;
  float: right;
}

/*quantity bar would be the shopping cart*/
#checkout-bar {
  display: grid;
  /* grid: 80px / auto auto auto; */
  grid: 80px / 150px 100px 100px;
  justify-content: end;
  align-items: center;
  background-color: white;
}
.cart-total-price{
  float: inline-start;
  font-size: 30px;
  color: black;
}

.shoppingCart {
  float: inline-start;
  font-size: 30px;
  color: black;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: right;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
} */

/* below the header */

h1 {
  text-align: center;
  text-shadow: black;
}

/*layout of products*/
.makeup-img img{
  width: 100%;
  height: 100%;
  border-color: black;
  border-width: 10px;
  border-style: solid;
  border-radius: 10%;
}

/*card that shows off the products*/
#makeupCard {
  text-align: center;
  background-color: rgb(255, 199, 209);
  border: grey solid 1px;
  border-radius: 10%;
  border-width: 2px;
  padding: 1rem;
  width: 20rem;
  display: inline-grid;
  align-content: stretch;
  justify-content: center;
  margin: 2rem 2rem;
  box-shadow: 5px 5px 5px white;
}
#makeupCard h2 {
  font-size: 30px;

}
#makeupCard h3{
  font-size: 30px;
  font-family: the Nautigal;
}
#makeup-cards p {
  font-size: 10px;
}
#makeupCard img {
  border-radius: 50%;
  width: 90%;
  height: 100%;
  border-color:black;
  border-style: solid;
  border-width: 5px;
}

/*button*/
button {
  position: relative;
  background-color: white
  border-color: grey;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: black;
  font-size: 18px;
  justify-self: center;
  font-family: eb garmond;
}

/* empty cart button */
#empty-cart {
  float: right;
}
button#empty-cart {
  position: relative;
  background-color: white;
  border-color: grey;
  border-radius: 50%;
  height: 4rem;
  width: max-content;
  color: black;
  font-size: 18px;
  justify-self: center;
  font-family: eb garmond;
}